/* Component containers
----------------------------------*/
.ui-widget {
	font-family: "PT Sans", "pt_sansregular", sans-serif;
	font-size: 13px;
}
.ui-widget .ui-widget {
	font-size: 13px;
}
.ui-widget input,
.ui-widget select,
.ui-widget textarea,
.ui-widget button {
	font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
	font-size: 14px;
}
.ui-widget-content {
	border: 1px solid #dddddd;
	background: #ffffff;
	color: #222222;
}
.ui-widget-content a {
	color: #428bca;
}
.ui-widget-header {
	border: 1px solid #dddddd;
	background: #f5f5f5;
	color: #222222;
	font-weight: bold;
}
.ui-widget-header a {
	color: #428bca;
}

/* Interaction states
----------------------------------*/
.ui-state-default,
.ui-widget-content .ui-state-default,
.ui-widget-header .ui-state-default {
	border: 1px solid #d3d3d3;
	background: #f5f5f5;
	font-weight: normal;
	color: #555555;
}
.ui-state-default a,
.ui-state-default a:link,
.ui-state-default a:visited {
	color: #428bca;
	text-decoration: none;
}
.ui-state-hover,
.ui-widget-content .ui-state-hover,
.ui-widget-header .ui-state-hover,
.ui-state-focus,
.ui-widget-content .ui-state-focus,
.ui-widget-header .ui-state-focus {
	border: 1px solid #999999;
	background: #ebebeb;
	font-weight: normal;
	color: #212121;
}
.ui-state-hover a,
.ui-state-hover a:hover,
.ui-state-hover a:link,
.ui-state-hover a:visited,
.ui-state-focus a,
.ui-state-focus a:hover,
.ui-state-focus a:link,
.ui-state-focus a:visited {
	color: #2a6496;
	text-decoration: none;
}
.ui-state-active,
.ui-widget-content .ui-state-active,
.ui-widget-header .ui-state-active {
	border: 1px solid #aaaaaa;
	background: #ffffff;
	font-weight: normal;
	color: #212121;
}
.ui-state-active a,
.ui-state-active a:link,
.ui-state-active a:visited {
	color: #428bca;
	text-decoration: none;
}

/* Interaction Cues
----------------------------------*/
.ui-state-highlight,
.ui-widget-content .ui-state-highlight,
.ui-widget-header .ui-state-highlight {
	border: 1px solid #fcefa1;
	background: #f7f2d4;
	color: #363636;
}
.ui-state-highlight a,
.ui-widget-content .ui-state-highlight a,
.ui-widget-header .ui-state-highlight a {
	color: #363636;
}
.ui-state-error,
.ui-widget-content .ui-state-error,
.ui-widget-header .ui-state-error {
	border: 1px solid #cd0a0a;
	background: #fef1ec;
	color: #cd0a0a;
}
.ui-state-error a,
.ui-widget-content .ui-state-error a,
.ui-widget-header .ui-state-error a {
	color: #cd0a0a;
}
.ui-state-error-text,
.ui-widget-content .ui-state-error-text,
.ui-widget-header .ui-state-error-text {
	color: #cd0a0a;
}
.ui-priority-primary,
.ui-widget-content .ui-priority-primary,
.ui-widget-header .ui-priority-primary {
	font-weight: bold;
}
.ui-priority-secondary,
.ui-widget-content .ui-priority-secondary,
.ui-widget-header .ui-priority-secondary {
	opacity: .7;
	filter:Alpha(Opacity=70);
	font-weight: normal;
}
.ui-state-disabled,
.ui-widget-content .ui-state-disabled,
.ui-widget-header .ui-state-disabled {
	opacity: .35;
	filter:Alpha(Opacity=35);
	background-image: none;
}
.ui-state-disabled .ui-icon {
	filter:Alpha(Opacity=35); /* For IE8 - See #6059 */
}

/* Icons
----------------------------------*/

/* states and images */
.ui-icon {
	width: 16px;
	height: 16px;
}
.ui-icon,
.ui-widget-content .ui-icon {
	background-image: url("#{resource['primefaces-daksa:images/ui-icons_222222_256x240.png']}");
}
.ui-widget-header .ui-icon {
	background-image: url("#{resource['primefaces-daksa:images/ui-icons_222222_256x240.png']}");
}
.ui-state-default .ui-icon {
	background-image: url("#{resource['primefaces-daksa:images/ui-icons_888888_256x240.png']}");
}
.ui-state-hover .ui-icon,
.ui-state-focus .ui-icon {
	background-image: url("#{resource['primefaces-daksa:images/ui-icons_454545_256x240.png']}");
}
.ui-state-active .ui-icon {
	background-image: url("#{resource['primefaces-daksa:images/ui-icons_454545_256x240.png']}");
}
.ui-state-highlight .ui-icon {
	background-image: url("#{resource['primefaces-daksa:images/ui-icons_2e83ff_256x240.png']}");
}
.ui-state-error .ui-icon,
.ui-state-error-text .ui-icon {
	background-image: url("#{resource['primefaces-daksa:images/ui-icons_cd0a0a_256x240.png']}");
}

/* positioning */
.ui-icon-blank { background-position: 16px 16px; }
.ui-icon-carat-1-n { background-position: 0 0; }
.ui-icon-carat-1-ne { background-position: -16px 0; }
.ui-icon-carat-1-e { background-position: -32px 0; }
.ui-icon-carat-1-se { background-position: -48px 0; }
.ui-icon-carat-1-s { background-position: -64px 0; }
.ui-icon-carat-1-sw { background-position: -80px 0; }
.ui-icon-carat-1-w { background-position: -96px 0; }
.ui-icon-carat-1-nw { background-position: -112px 0; }
.ui-icon-carat-2-n-s { background-position: -128px 0; }
.ui-icon-carat-2-e-w { background-position: -144px 0; }
.ui-icon-triangle-1-n { background-position: 0 -16px; }
.ui-icon-triangle-1-ne { background-position: -16px -16px; }
.ui-icon-triangle-1-e { background-position: -32px -16px; }
.ui-icon-triangle-1-se { background-position: -48px -16px; }
.ui-icon-triangle-1-s { background-position: -64px -16px; }
.ui-icon-triangle-1-sw { background-position: -80px -16px; }
.ui-icon-triangle-1-w { background-position: -96px -16px; }
.ui-icon-triangle-1-nw { background-position: -112px -16px; }
.ui-icon-triangle-2-n-s { background-position: -128px -16px; }
.ui-icon-triangle-2-e-w { background-position: -144px -16px; }
.ui-icon-arrow-1-n { background-position: 0 -32px; }
.ui-icon-arrow-1-ne { background-position: -16px -32px; }
.ui-icon-arrow-1-e { background-position: -32px -32px; }
.ui-icon-arrow-1-se { background-position: -48px -32px; }
.ui-icon-arrow-1-s { background-position: -64px -32px; }
.ui-icon-arrow-1-sw { background-position: -80px -32px; }
.ui-icon-arrow-1-w { background-position: -96px -32px; }
.ui-icon-arrow-1-nw { background-position: -112px -32px; }
.ui-icon-arrow-2-n-s { background-position: -128px -32px; }
.ui-icon-arrow-2-ne-sw { background-position: -144px -32px; }
.ui-icon-arrow-2-e-w { background-position: -160px -32px; }
.ui-icon-arrow-2-se-nw { background-position: -176px -32px; }
.ui-icon-arrowstop-1-n { background-position: -192px -32px; }
.ui-icon-arrowstop-1-e { background-position: -208px -32px; }
.ui-icon-arrowstop-1-s { background-position: -224px -32px; }
.ui-icon-arrowstop-1-w { background-position: -240px -32px; }
.ui-icon-arrowthick-1-n { background-position: 0 -48px; }
.ui-icon-arrowthick-1-ne { background-position: -16px -48px; }
.ui-icon-arrowthick-1-e { background-position: -32px -48px; }
.ui-icon-arrowthick-1-se { background-position: -48px -48px; }
.ui-icon-arrowthick-1-s { background-position: -64px -48px; }
.ui-icon-arrowthick-1-sw { background-position: -80px -48px; }
.ui-icon-arrowthick-1-w { background-position: -96px -48px; }
.ui-icon-arrowthick-1-nw { background-position: -112px -48px; }
.ui-icon-arrowthick-2-n-s { background-position: -128px -48px; }
.ui-icon-arrowthick-2-ne-sw { background-position: -144px -48px; }
.ui-icon-arrowthick-2-e-w { background-position: -160px -48px; }
.ui-icon-arrowthick-2-se-nw { background-position: -176px -48px; }
.ui-icon-arrowthickstop-1-n { background-position: -192px -48px; }
.ui-icon-arrowthickstop-1-e { background-position: -208px -48px; }
.ui-icon-arrowthickstop-1-s { background-position: -224px -48px; }
.ui-icon-arrowthickstop-1-w { background-position: -240px -48px; }
.ui-icon-arrowreturnthick-1-w { background-position: 0 -64px; }
.ui-icon-arrowreturnthick-1-n { background-position: -16px -64px; }
.ui-icon-arrowreturnthick-1-e { background-position: -32px -64px; }
.ui-icon-arrowreturnthick-1-s { background-position: -48px -64px; }
.ui-icon-arrowreturn-1-w { background-position: -64px -64px; }
.ui-icon-arrowreturn-1-n { background-position: -80px -64px; }
.ui-icon-arrowreturn-1-e { background-position: -96px -64px; }
.ui-icon-arrowreturn-1-s { background-position: -112px -64px; }
.ui-icon-arrowrefresh-1-w { background-position: -128px -64px; }
.ui-icon-arrowrefresh-1-n { background-position: -144px -64px; }
.ui-icon-arrowrefresh-1-e { background-position: -160px -64px; }
.ui-icon-arrowrefresh-1-s { background-position: -176px -64px; }
.ui-icon-arrow-4 { background-position: 0 -80px; }
.ui-icon-arrow-4-diag { background-position: -16px -80px; }
.ui-icon-extlink { background-position: -32px -80px; }
.ui-icon-newwin { background-position: -48px -80px; }
.ui-icon-refresh { background-position: -64px -80px; }
.ui-icon-shuffle { background-position: -80px -80px; }
.ui-icon-transfer-e-w { background-position: -96px -80px; }
.ui-icon-transferthick-e-w { background-position: -112px -80px; }
.ui-icon-folder-collapsed { background-position: 0 -96px; }
.ui-icon-folder-open { background-position: -16px -96px; }
.ui-icon-document { background-position: -32px -96px; }
.ui-icon-document-b { background-position: -48px -96px; }
.ui-icon-note { background-position: -64px -96px; }
.ui-icon-mail-closed { background-position: -80px -96px; }
.ui-icon-mail-open { background-position: -96px -96px; }
.ui-icon-suitcase { background-position: -112px -96px; }
.ui-icon-comment { background-position: -128px -96px; }
.ui-icon-person { background-position: -144px -96px; }
.ui-icon-print { background-position: -160px -96px; }
.ui-icon-trash { background-position: -176px -96px; }
.ui-icon-locked { background-position: -192px -96px; }
.ui-icon-unlocked { background-position: -208px -96px; }
.ui-icon-bookmark { background-position: -224px -96px; }
.ui-icon-tag { background-position: -240px -96px; }
.ui-icon-home { background-position: 0 -112px; }
.ui-icon-flag { background-position: -16px -112px; }
.ui-icon-calendar { background-position: -32px -112px; }
.ui-icon-cart { background-position: -48px -112px; }
.ui-icon-pencil { background-position: -64px -112px; }
.ui-icon-clock { background-position: -80px -112px; }
.ui-icon-disk { background-position: -96px -112px; }
.ui-icon-calculator { background-position: -112px -112px; }
.ui-icon-zoomin { background-position: -128px -112px; }
.ui-icon-zoomout { background-position: -144px -112px; }
.ui-icon-search { background-position: -160px -112px; }
.ui-icon-wrench { background-position: -176px -112px; }
.ui-icon-gear { background-position: -192px -112px; }
.ui-icon-heart { background-position: -208px -112px; }
.ui-icon-star { background-position: -224px -112px; }
.ui-icon-link { background-position: -240px -112px; }
.ui-icon-cancel { background-position: 0 -128px; }
.ui-icon-plus { background-position: -16px -128px; }
.ui-icon-plusthick { background-position: -32px -128px; }
.ui-icon-minus { background-position: -48px -128px; }
.ui-icon-minusthick { background-position: -64px -128px; }
.ui-icon-close { background-position: -80px -128px; }
.ui-icon-closethick { background-position: -96px -128px; }
.ui-icon-key { background-position: -112px -128px; }
.ui-icon-lightbulb { background-position: -128px -128px; }
.ui-icon-scissors { background-position: -144px -128px; }
.ui-icon-clipboard { background-position: -160px -128px; }
.ui-icon-copy { background-position: -176px -128px; }
.ui-icon-contact { background-position: -192px -128px; }
.ui-icon-image { background-position: -208px -128px; }
.ui-icon-video { background-position: -224px -128px; }
.ui-icon-script { background-position: -240px -128px; }
.ui-icon-alert { background-position: 0 -144px; }
.ui-icon-info { background-position: -16px -144px; }
.ui-icon-notice { background-position: -32px -144px; }
.ui-icon-help { background-position: -48px -144px; }
.ui-icon-check { background-position: -64px -144px; }
.ui-icon-bullet { background-position: -80px -144px; }
.ui-icon-radio-on { background-position: -96px -144px; }
.ui-icon-radio-off { background-position: -112px -144px; }
.ui-icon-pin-w { background-position: -128px -144px; }
.ui-icon-pin-s { background-position: -144px -144px; }
.ui-icon-play { background-position: 0 -160px; }
.ui-icon-pause { background-position: -16px -160px; }
.ui-icon-seek-next { background-position: -32px -160px; }
.ui-icon-seek-prev { background-position: -48px -160px; }
.ui-icon-seek-end { background-position: -64px -160px; }
.ui-icon-seek-start { background-position: -80px -160px; }
/* ui-icon-seek-first is deprecated, use ui-icon-seek-start instead */
.ui-icon-seek-first { background-position: -80px -160px; }
.ui-icon-stop { background-position: -96px -160px; }
.ui-icon-eject { background-position: -112px -160px; }
.ui-icon-volume-off { background-position: -128px -160px; }
.ui-icon-volume-on { background-position: -144px -160px; }
.ui-icon-power { background-position: 0 -176px; }
.ui-icon-signal-diag { background-position: -16px -176px; }
.ui-icon-signal { background-position: -32px -176px; }
.ui-icon-battery-0 { background-position: -48px -176px; }
.ui-icon-battery-1 { background-position: -64px -176px; }
.ui-icon-battery-2 { background-position: -80px -176px; }
.ui-icon-battery-3 { background-position: -96px -176px; }
.ui-icon-circle-plus { background-position: 0 -192px; }
.ui-icon-circle-minus { background-position: -16px -192px; }
.ui-icon-circle-close { background-position: -32px -192px; }
.ui-icon-circle-triangle-e { background-position: -48px -192px; }
.ui-icon-circle-triangle-s { background-position: -64px -192px; }
.ui-icon-circle-triangle-w { background-position: -80px -192px; }
.ui-icon-circle-triangle-n { background-position: -96px -192px; }
.ui-icon-circle-arrow-e { background-position: -112px -192px; }
.ui-icon-circle-arrow-s { background-position: -128px -192px; }
.ui-icon-circle-arrow-w { background-position: -144px -192px; }
.ui-icon-circle-arrow-n { background-position: -160px -192px; }
.ui-icon-circle-zoomin { background-position: -176px -192px; }
.ui-icon-circle-zoomout { background-position: -192px -192px; }
.ui-icon-circle-check { background-position: -208px -192px; }
.ui-icon-circlesmall-plus { background-position: 0 -208px; }
.ui-icon-circlesmall-minus { background-position: -16px -208px; }
.ui-icon-circlesmall-close { background-position: -32px -208px; }
.ui-icon-squaresmall-plus { background-position: -48px -208px; }
.ui-icon-squaresmall-minus { background-position: -64px -208px; }
.ui-icon-squaresmall-close { background-position: -80px -208px; }
.ui-icon-grip-dotted-vertical { background-position: 0 -224px; }
.ui-icon-grip-dotted-horizontal { background-position: -16px -224px; }
.ui-icon-grip-solid-vertical { background-position: -32px -224px; }
.ui-icon-grip-solid-horizontal { background-position: -48px -224px; }
.ui-icon-gripsmall-diagonal-se { background-position: -64px -224px; }
.ui-icon-grip-diagonal-se { background-position: -80px -224px; }


/* Misc visuals
----------------------------------*/

/* Corner radius */
.ui-corner-all,
.ui-corner-top,
.ui-corner-left,
.ui-corner-tl {
	border-top-left-radius: 4px;
}
.ui-corner-all,
.ui-corner-top,
.ui-corner-right,
.ui-corner-tr {
	border-top-right-radius: 4px;
}
.ui-corner-all,
.ui-corner-bottom,
.ui-corner-left,
.ui-corner-bl {
	border-bottom-left-radius: 4px;
}
.ui-corner-all,
.ui-corner-bottom,
.ui-corner-right,
.ui-corner-br {
	border-bottom-right-radius: 4px;
}

/* Overlays */
.ui-widget-overlay {
	background: #aaaaaa url("#{resource['primefaces-daksa:images/ui-bg_flat_0_aaaaaa_40x100.png']}") 50% 50% repeat-x;
	opacity: .3;
	filter: Alpha(Opacity=30);
}
.ui-widget-shadow {
	margin: -8px 0 0 -8px;
	padding: 8px;
	background: #aaaaaa url("#{resource['primefaces-daksa:images/ui-bg_flat_0_aaaaaa_40x100.png']}") 50% 50% repeat-x;
	opacity: .3;
	filter: Alpha(Opacity=30);
	border-radius: 8px;
}

/* Primefaces Components
----------------------------------*/

/* Global Widget */
.ui-widget {
	line-height: 1.4;
}

/* Input Text */
.ui-inputfield, .ui-state-default.ui-inputfield,
.ui-radiobutton-box, .ui-state-default.ui-radiobutton-box,
.ui-chkbox-box, .ui-state-default.ui-chkbox-box {
	background: #ffffff;
}
.ui-inputfield.ui-state-error {
	color: #000000;
}
.ui-inputfield.ui-state-focus {
	border-color: #66afe9;
	outline: 0;
	-webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(102, 175, 233, .6);
	box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(102, 175, 233, .6);
}

/* Fix Input Checkbox and Radio Position */
.ui-selectonemenu-trigger.ui-state-default, .ui-selectonemenu-trigger.ui-state-default:before, .ui-selectonemenu-trigger.ui-state-default:after,
.ui-radiobutton-box.ui-state-default, .ui-radiobutton-box.ui-state-default:before, .ui-radiobutton-box.ui-state-default:after,
.ui-chkbox-box.ui-state-default, .ui-chkbox-box.ui-state-default:before, .ui-chkbox-box.ui-state-default:after
{
	-webkit-box-sizing: content-box;
	-moz-box-sizing: content-box;
	box-sizing: content-box;
}
table.ui-selectoneradio {
	border-collapse: separate;
	border-spacing: 0px
}
table.ui-selectoneradio td {
	vertical-align: middle;
}
table.ui-selectoneradio label {
	margin: 0 8px 0 6px;
	display: inline;
	font-weight: normal;
}

/* Select Many Checkbox */
table.ui-selectmanycheckbox label {
	margin: 0 8px 0 6px;
	display: inline;
	font-weight: normal;
}

.ui-selectmanymenu {

}
.ui-selectmanymenu .ui-selectlistbox-list > .ui-selectlistbox-item {
}
.ui-selectmanymenu .ui-chkbox {
	margin-right: 5px;
	line-height: 14px;
}
.ui-chkbox  {
	vertical-align: middle
}

/* Buttons */
.ui-button {
	height: 30px;
}

.ui-button .ui-button-text,
.ui-button-text-icon-left .ui-button-text,
.ui-button-icon-only .ui-button-text {
	padding-top: 0 !important;
	padding-bottom: 0 !important;
}
.ui-button-icon-only .ui-icon, 
.ui-button-text-icon-left .ui-icon, 
.ui-button-text-icon-right .ui-icon {
	margin-top: -10px !important;
}
.ui-button.ui-state-default {
	background-color: #f5f5f5;
}
.ui-button.ui-state-active {
	background-color: #ebebeb;
	border-color: #adadad;
	outline: 0;
	-webkit-box-shadow: inset 0 3px 5px rgba(0, 0, 0, .125);
	box-shadow: inset 0 3px 5px rgba(0, 0, 0, .125);
}
.ui-button.ui-state-hover,
.ui-button.ui-state-focus,
.ui-button.ui-state-highlight {
	background-color: #ebebeb;
	border-color: #adadad;
}

.ui-button.ui-state-default.ui-primary,
.ui-splitbutton.ui-primary .ui-button.ui-state-default,
.ui-menubutton.ui-primary .ui-button.ui-state-default {
	background-color: #890050;
	border-color: #890050;
	color: #fff;

}
.ui-button.ui-primary .ui-icon,
.ui-splitbutton.ui-primary .ui-button.ui-state-default .ui-icon,
.ui-menubutton.ui-primary .ui-button.ui-state-default .ui-icon {
	background-image: url("#{resource['primefaces-daksa:images/ui-icons_ffffff_256x240.png']}") !important;
}
.ui-button.ui-state-active.ui-primary {
	background-color: #3276b1;
	border-color: #285e8e;
}
.ui-button.ui-state-hover.ui-primary,
.ui-button.ui-state-focus.ui-primary,
.ui-button.ui-state-highlight.ui-primary {
	background-color: #750044;
	border-color: #750044;
}

.ui-button.ui-state-default.ui-primary,
.ui-splitbutton.ui-primary .ui-button.ui-state-default,
.ui-menubutton.ui-primary .ui-button.ui-state-default {
	background-color: #890050;
	border-color: #890050;
	color: #fff;

}
.ui-button.ui-primary .ui-icon,
.ui-splitbutton.ui-primary .ui-button.ui-state-default .ui-icon,
.ui-menubutton.ui-primary .ui-button.ui-state-default .ui-icon {
	background-image: url("#{resource['primefaces-daksa:images/ui-icons_ffffff_256x240.png']}") !important;
}
.ui-button.ui-state-active.ui-primary {
	background-color: #750044;
	border-color: #750044;
}
.ui-button.ui-state-hover.ui-primary,
.ui-button.ui-state-focus.ui-primary,
.ui-button.ui-state-highlight.ui-primary {
	background-color: #750044;
	border-color: #750044;
}
.ui-fileupload-choose .ui-button-text {
	margin-top: 4px;
}

/* Select Button */
.ui-selectonebutton .ui-button .ui-button-text {
	line-height: 30px;
	vertical-align: middle;
	margin-top: -1px;
}

/* Panels */
.ui-panel {
	padding: 0 !important;
	margin-bottom: 20px;
	background-color: #fff;
	border: 1px solid #dddddd;
	border-radius: 4px;
	-webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, .05);
	box-shadow: 0 1px 1px rgba(0, 0, 0, .05);
}
.ui-panel .ui-panel-titlebar {
	border-radius: 0;
	border-top-left-radius: 4px;
	border-top-right-radius: 4px;
	border-width: 0 0 1px 0;
	padding: 10px 15px 10px 15px !important;
}

/* Panel Menu */
.ui-panelmenu .ui-panelmenu-header {
	font-size: 14px !important;
	border: 1px solid #dddddd;
}
.ui-panelmenu .ui-panelmenu-panel {
	margin-bottom: -1px !important;
}
.ui-panelmenu .ui-menuitem-link {
	width: 100% !important;
}
.ui-panelmenu .ui-panelmenu-header.ui-state-active {
	background: #f5f5f5;
}
.ui-panelmenu .ui-panelmenu-panel,
.ui-panelmenu .ui-panelmenu-panel .ui-panelmenu-header {
	border-radius: 0px !important;
}
.ui-panelmenu .ui-panelmenu-content {
	padding: 2px 2px 2px 2px !important;
}

/* Menu */
.ui-menu .ui-menuitem-link {
	width: 100% !important;
}
.ui-menu .ui-widget-header {
	width: 100% !important;
}

/* Tabs */
.ui-tabs {
	border: 0;
	padding: 0;
}
.ui-tabs.ui-tabs-top .ui-tabs-panel {
	padding: 10px 0px 0px 4px !important;
}
.ui-tabs.ui-tabs-top .ui-tabs-nav {
	border-bottom: 1px solid #dddddd;
	padding: 0 !important;
	border-radius: 0;
}
.ui-tabs.ui-tabs-top .ui-tabs-nav > .ui-state-active {
	border-bottom: 1px solid #ffffff !important;
	margin-bottom: -1px;
}

.ui-tabs.ui-tabs-left .ui-tabs-panel {
	padding: 0 !important;
}
.ui-tabs.ui-tabs-left .ui-tabs-nav {
	border-right: 1px solid #dddddd;
	border-radius: 0;
}
.ui-tabs.ui-tabs-left .ui-tabs-nav > .ui-state-default {
	box-sizing: content-box;
}
.ui-tabs.ui-tabs-left .ui-tabs-nav > .ui-state-default.ui-state-active {
	box-sizing: content-box;
	border-right: 1px solid #ffffff !important;
	margin-right: -1px;
}

.ui-tabs.ui-tabs-right .ui-tabs-panel {
	padding: 0 !important;
}
.ui-tabs.ui-tabs-right .ui-tabs-nav {
	border-left: 1px solid #dddddd;
	border-radius: 0;
}
.ui-tabs.ui-tabs-right .ui-tabs-nav > .ui-state-default {
	box-sizing: content-box;
}
.ui-tabs.ui-tabs-right .ui-tabs-nav > .ui-state-default.ui-state-active {
	box-sizing: content-box;
	border-left: 1px solid #ffffff !important;
	margin-left: -1px;
}

.ui-tabs .ui-widget-header {
	background: white;
}

/* Menu */
.ui-menuitem-text {
	font-weight: normal;
}

.ui-breadcrumb ul li a.ui-icon-home {
	margin-top: 3px !important;
}

/* Breadcrumb */
.ui-breadcrumb .ui-breadcrumb-chevron {
	float: left;
	margin-top: 4px !important;
}

/* Growl Message */
.ui-growl {
	z-index: 9999 !important;
}

/* Shadow */
.ui-widget.ui-shadow {
	-moz-box-shadow: 0 6px 12px rgba(0,0,0,.175);
	-webkit-box-shadow: 0 6px 12px rgba(0,0,0,.175);
	box-shadow: 0 6px 12px rgba(0,0,0,.175);
}

/* Date Picker */
.ui-datepicker {
	padding: 0 !important;
	background-color: #fff;
	border: 1px solid #dddddd;
	border-radius: 4px;
	-webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, .05);
	box-shadow: 0 1px 1px rgba(0, 0, 0, .05);
}
.ui-datepicker .ui-datepicker-header {
	border-radius: 0;
	border-top-left-radius: 4px;
	border-top-right-radius: 4px;
	border-width: 0 0 1px 0;
}
.ui-datepicker .ui-datepicker-calendar {
	border: solid transparent;
	border-width: 0px 4px 0 4px;
}
.ui-datepicker .ui-timepicker-div {
	padding: 4px;
}
.ui-datepicker .ui-timepicker-div dl dt{
	font-weight: normal;
	font-size: smaller;
}

.ui-datepicker .ui-datepicker-header a {
	top: 3px;
}
.ui-datepicker .ui-datepicker-header .ui-datepicker-prev.ui-state-hover {
	left: 2px;
}
.ui-datepicker .ui-datepicker-header .ui-datepicker-next.ui-state-hover {
	right: 2px;
}

/* Color Picker */
.ui-colorpicker .ui-colorpicker-container input,
.ui-colorpicker-container input{
	height: 14px !important;
}

/* Table */
.ui-datatable .ui-datatable-tablewrapper th {
	font-weight: bolder;
}
.ui-datatable .ui-filter-column .ui-column-filter {
	width: 100%;
}
.ui-datatable .ui-datatable-tablewrapper > table tbody tr.ui-expanded-row > td {
	border-bottom: 1px solid #dddddd;
}
.ui-datatable .ui-datatable-tablewrapper > table tbody tr:hover td {
	background: rgba(0, 0, 0, 0.08);
}
.ui-datatable .ui-datatable-tablewrapper > table tbody .ui-datatable-odd td {
	background: rgba(0, 0, 0, 0.03);
}
.ui-datatable .ui-datatable-tablewrapper > table tbody tr {
}

/* Accordion */
.ui-accordion > .ui-accordion-header.ui-state-active {
	font-weight: bolder;
}

/* Dialog */
.ui-dialog {
	
}
.ui-dialog .ui-dialog-content {
	overflow-y: auto;
	width: auto !important;
}
.ui-dialog.ui-dialog-maximized {
	width: 100%;
	overflow-y: auto;
}
.ui-dialog.ui-dialog-maximized .ui-dialog-content {
	height: auto;
	max-height: none;
}
/* Paginator */
.ui-datatable > .ui-paginator-top {
	border-bottom: 0;
}

/* Progress Bar */
.ui-progressbar {height: 20px !important; border-color: #7ac7ff;}
.ui-progressbar .ui-progressbar-value {margin: 0 !important; border: 0; background: #7ac7ff;}
.ui-progressbar .ui-progressbar-label {border: 0;}