<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<ui:composition xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
	xmlns:h="http://xmlns.jcp.org/jsf/html"
	xmlns:f="http://xmlns.jcp.org/jsf/core"
	xmlns:p="http://primefaces.org/ui"
	template="/WEB-INF/templates/layout-main.xhtml">
	<ui:define name="postMetadata">

    </ui:define>
	
	<ui:define name="title">Home</ui:define>
	<ui:define name="header">
		<p:menuitem value="Home" url="#"/>
	</ui:define>
	<ui:define name="content">
		Please select menu on the left.
	</ui:define>
</ui:composition>