<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<ui:composition xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
	xmlns:h="http://xmlns.jcp.org/jsf/html"
	xmlns:f="http://xmlns.jcp.org/jsf/core"
	xmlns:p="http://primefaces.org/ui"
	template="/WEB-INF/templates/layout-main.xhtml">
	<ui:define name="postMetadata">
        <f:metadata>
            <f:viewAction action="#{userBacking.init()}" />
        </f:metadata>
    </ui:define>
	
	<ui:define name="title">Register User</ui:define>
	<ui:define name="header">
		<h3>Register User</h3>
	</ui:define>
	<ui:define name="content">
		<div class="row">
			<div class="col-md-12 col-lg-12">
				<div class="content-box">
					<div class="content-box-title">Register User</div>
					<div class="content-box-body">
						<h:form id="createNewUserForm">
							<div class="form-horizontal">
								<div class="form-group row">
									<label class="control-label col-md-3 col-lg-3">Fullname</label>
									<div class="col-md-6 col-lg-6">
										<h:inputText class="form-control"
											value="#{userBacking.fullName}" />
									</div>
								</div>
							</div>
							<div class="form-horizontal">
								<div class="form-group row">
									<label class="control-label col-md-3 col-lg-3">Email</label>
									<div class="col-md-6 col-lg-6">
										<h:inputText class="form-control" value="#{userBacking.email}" />
									</div>
								</div>
							</div>
							<div class="form-horizontal">
								<div class="form-group row">
									<label class="control-label col-md-3 col-lg-3">Username</label>
									<div class="col-md-6 col-lg-6">
										<h:inputText class="form-control"
											value="#{userBacking.username}" />
									</div>
								</div>
							</div>
							<div class="form-horizontal">
								<div class="form-group row">
									<label class="control-label col-md-3 col-lg-3">Role</label>
									<div class="col-md-6 col-lg-6">
                                                                            <p:selectOneMenu value="#{userBacking.displayRole}" style="width: 156px">
                                                                                <f:selectItems value="#{userBacking.roles}" var="role" itemLabel="#{role.name}" itemValue="#{role.id}" />  
										</p:selectOneMenu>
									</div>
								</div>
							</div>
							<div class="form-horizontal">
								<div class="form-group row">
									<label class="control-label col-md-3 col-lg-3"></label>
									<div class="col-md-6 col-lg-6">
										<p:commandButton value="Register"
                                                                                        action="#{userBacking.registerUser()}"
											update=":globalMessages :createNewUserForm"
											styleClass="ui-primary" />
									</div>
								</div>
							</div>

						</h:form>
					</div>
				</div>
			</div>
		</div>
	</ui:define>
</ui:composition>