<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<ui:composition xmlns="http://www.w3.org/1999/xhtml"
				xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
				xmlns:h="http://xmlns.jcp.org/jsf/html"
				xmlns:f="http://xmlns.jcp.org/jsf/core"
				xmlns:p="http://primefaces.org/ui"
				template="/WEB-INF/templates/layout-main.xhtml">
	<ui:define name="postMetadata">
		<f:metadata>
			<f:viewAction action="#{showRoleBacking.init()}" />
		</f:metadata>
	</ui:define>
	<ui:define name="title">Show Role</ui:define>
	<ui:define name="header">
		<h3>Show Role</h3>
	</ui:define>
	<ui:define name="content">
		<div class="row">
			<div class="col-md-12 col-lg-12">
				<div class="content-box">
					<div class="content-box-title">Show Role</div>
					<div class="content-box-body">
						<h:form id="showUserForm">
							<p:dataTable id="userTable" widgetVar="userTable"
                                                                                value="#{showRoleBacking.listRoles}" var="role" lazy="true"
										 paginator="true" paginatorAlwaysVisible="false"
										 paginatorPosition="both" rows="10">
								<p:column headerText="Name" sortBy="#{role.name}">
									<h:outputText value="#{role.name}">
									</h:outputText>
								</p:column>
								<p:column style="width: 6%">
									<p:commandLink title="Edit User"
												   action="#{showRoleBacking.selectThisRole(role)}"
												   oncomplete="PF('editDialog').show();" update=":editUserForm">
										<span class="glyphicon glyphicon-pencil"></span>
									</p:commandLink>
								</p:column>
							</p:dataTable>
						</h:form>
					</div>
				</div>
			</div>
		</div>

		<p:dialog widgetVar="editDialog" header="Edit Role" modal="true"
				  position="center" resizable="false" draggable="false" width="500">
			<div class="col-md-12 col-lg-12">
				<h:form id="editUserForm">
					<div class="form-horizontal">
						<div class="form-group row">
							<label class="control-label col-md-3 col-lg-3">Name</label>
							<div class="col-md-8 col-lg-8">
								<h:inputText class="form-control"
											 value="#{showRoleBacking.selectedRole.name}" />
							</div>
						</div>
					</div>
					<div class="form-horizontal">
						<div class="form-group row">
							<div class="col-md-12 col-lg-12">
                                                            <p:dataTable value="#{showRoleBacking.listAbility}" id="tableDorDor2"
											 var="ability"
											 rows="10"
											 emptyMessage="Data tidak ditemukan"
											 selection="#{showRoleBacking.selectedAbility}" 
											 rowKey="#{ability.id}"
											 paginatorAlwaysVisible="false"
											 paginator="true"
											 rowIndexVar="rowIndex"
											 styleClass="ui-datatable-kosong"
											 selectionMode="multiple">
									<p:column style="width: 10%;" headerText="No">
										<h:outputText value="#{rowIndex+1}"/>
									</p:column>
									<p:column headerText="Name">
										<h:outputText value="#{ability.id}"/>
									</p:column>
								</p:dataTable> 
							</div>
						</div>
					</div>
					<div class="form-horizontal">
						<div class="form-group row">
							<label class="control-label col-md-3 col-lg-3"></label>
							<div class="col-md-6 col-lg-6">
								<p:commandButton value="Edit"
												 action="#{showRoleBacking.editRole()}"
												 update=":globalMessages :editUserForm :showUserForm"
												 oncomplete="PF('editDialog').hide();" styleClass="ui-primary" />
							</div>
						</div>
					</div>

				</h:form>
			</div>
		</p:dialog>
	</ui:define>
</ui:composition>