<ui:composition xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
	xmlns:h="http://xmlns.jcp.org/jsf/html"
	xmlns:f="http://xmlns.jcp.org/jsf/core"
	xmlns:p="http://primefaces.org/ui"
	xmlns:pass="http://xmlns.jcp.org/jsf/passthrough"
	template="/WEB-INF/templates/layout-basic.xhtml">
	<ui:define name="head">
		<link rel="stylesheet" href="#{request.contextPath}/resources/css/qpm-login.css" />
	</ui:define>
	<ui:define name="title">
		Login
	</ui:define>
	<ui:define name="content">
		 <div class="login-box">
			<div class="content-box">
				<div class="content-box-header">
					<img src="#{request.contextPath}/resources/img/header-logo-qpers.png" />
					<h4>Consolidated Statement</h4>
					<div id="circles"></div>
				</div>
				<div class="content-box-body">
					<p:messages id="globalMessages" showSummary="true" showDetail="true" />
					<h:form rendered="#{not loginBacking.showCaptcha}" id="loginForm">
						<div class="login-input">
							<h:inputText value="#{loginBacking.username}" pass:placeholder="Username" styleClass="textbox-username input-text" id="inputUsername" />
							<hr />
							<h:inputSecret value="#{loginBacking.password}" pass:placeholder="Password" styleClass="textbox-password input-text" id="inputPassword"/>
							<hr />
						</div>
						<p:commandButton value="SIGN IN" action="#{loginBacking.login()}" ajax="false" styleClass="ui-primary btn-block" process="@form" id="loginButton" />
					</h:form>
					<h:form rendered="#{loginBacking.showCaptcha}" id="loginFormCaptcha">
						<div class="login-input">
							<h:inputText value="#{loginBacking.username}" pass:placeholder="Username" styleClass="textbox-username input-text" id="inputUsername" />
							<hr />
							<h:inputSecret value="#{loginBacking.password}" pass:placeholder="Password" styleClass="textbox-password input-text" id="inputPassword" />
							<hr />
							<p:captcha label="Captcha" validatorMessage="Incorrect captcha!!"/>
						</div>
						<p:commandButton value="SIGN IN" action="#{loginBacking.login()}" ajax="false" styleClass="ui-primary btn-block" process="@form" id="loginButton" />
					</h:form>
				</div>
				<div class="content-box-footer">
					<img src="#{request.contextPath}/resources/img/footer-logo-daksa.png" />
					<p>PT Bank QNB Indonesia, Tbk. <br/> Copyright &#169; 2015 </p>
					<div>
						v<h:outputText value="#{webConfig.productVersion}" /> Build <h:outputText value="#{webConfig.buildTimestamp}" />
					</div>
				</div>
			</div>
		</div>
	</ui:define>
</ui:composition>