/*
 * COMMON TAGS
 **************/
* {
	font-family: "HelveticaNeueLTStd-Roman", Arial, sans-serif;
}
body {
	background-image: url('../img/body-background.jpg'); 
	zoom: reset;
}
h1, h2, h3, h4, h5, h6 {
	font-family: "cordale_corpregular", Arial, sans-serif;
	font-weight: normal;
	color: #50585a;
}
a:hover {
	text-decoration: none;
}
hr {
	margin: 4px 0 8px 0;
}
/* Common tags with transitions */
a, button, input, select, textarea, table tbody tr td {
	transition: all .2s ease-out;
}

*, *:before, *:after {
		-moz-box-sizing: border-box;
		-webkit-box-sizing: border-box;
		box-sizing: border-box;
}

@media screen and (max-width: 1024px) {
	#planTable {
		border: 0;
		width: 200%;
		font-size: 12px;
	}
}

/*
 * MISCELANEOUS
 ***************/

table.table-detail {
	border: 1px solid #d3d3d3;
}
table.table-detail td {
	border: 1px solid #d3d3d3;
}
table.table-detail tr > td:nth-child(1) {
	width: 180px;
	text-align: right;
	font-weight: bolder;
}
.ui-datatable .ui-datatable-tablewrapper > table tbody tr:hover td .table-detail td {
	background: white;
}
.table-detail-title {
	border: 1px solid #d3d3d3;
	border-bottom: 0;
	padding: 4px;
	margin: 8px 0 0 0;
	background: #f5f5f5;
}

.align-right {
	text-align: right;
}
.align-center {
	text-align: center;
}
.status-success {
	color: green;
}
.status-failed {
	color: red;
}


/*
 * MAIN LAYOUT
 **************/
.banner {
	position: fixed; 
	background-color: #890050; 
	background-image: linear-gradient(90deg, rgba(0, 15, 51, 0.74902) 25%, rgba(0, 15, 51, 0.101961) 100%);
	box-shadow: 0px 4px 8px 0.00px rgba(0, 0, 0, 0.2);
	width: 100%; 
	height: 48px;
	line-height: 48px;
	margin: 10px 0 0 0; 
	padding: 0 32px;
	z-index: 8;
}
.banner a {
	color: #ffffff;
	font-size: 12px;
	text-transform: uppercase;
	font-family: "HelveticaNeueLTStd-Cn", Arial, sans-serif;
}
.banner a > span[class*="glyphicon"] {
	margin-right: 4px;
}
.main {
	margin-left: 300px; 
	padding-top: 80px;
	padding-bottom: 80px;
	display: block;
}
.content-header {
	margin: 16px 16px 24px 16px;
	padding: 0;
	text-align: right;
	background: url('../img/garis-board.png') repeat;
}
.content-header h4, .content-header h3, .content-header h2, .content-header h1 {
	padding: 0 0 0 16px;
	margin: 0;
	text-align: right;
	color: #50585a;
	font-weight: bold;
	line-height: 36px;
	font-size: 24px;
	display: inline-block;
	background-image: url('../img/body-background.jpg'); 
}
.content-header h4 img, .content-header h3 img, .content-header h2 img, .content-header h1 img {
	margin-right: 12px;
	margin-top: -4px;
}
.content-header .alert {
	margin-bottom: 8px;
}
.content {
	position: relative;
	margin: 0 16px 16px 16px;
	padding: 0;
	min-width: 500px;
}
.sidebar {
	width: 300px;
	position: fixed; 
	bottom: 0; 
	top: 0; 
	background: -webkit-linear-gradient(top, rgba(255, 255, 255, .85) 0%, rgba(255, 255, 255, .85) 100%), url("../img/header-gradient-blurry.png") no-repeat;
	background: -moz-linear-gradient(top, rgba(255, 255, 255, .85) 0%, rgba(255, 255, 255, .85) 100%), url("../img/header-gradient-blurry.png") no-repeat;
	background: linear-gradient(top, rgba(255, 255, 255, .85) 0%, rgba(255, 255, 255, .85) 100%), url("../img/header-gradient-blurry.png") no-repeat;
	box-shadow: 0px 0px 32px 0.00px rgba(0, 0, 0, 0.1);
	z-index: 10;
	overflow-y: auto;
	overflow-x: hidden;
}
.sidebar-inner-header {
	text-align: center;
	position: relative;
}
.sidebar-inner-header > a {
	display: block;
}
.sidebar-inner-header > a {
	height: 60px;
	line-height: 60px;
}
.sidebar-header {
	background: rgba(255, 255, 255, .55);
	margin-top: 8px;
	padding: 16px 24px 16px 16px;
}
.sidebar-header > a:first-child {
	float: left;
	margin-right: 8px;
}
.sidebar-header h6 {
	margin: 0;
}
.sidebar-header h1 {	
	margin: 10px 0 0 0;
	font-family: "cordale_corpregular", Arial, sans-serif;
	font-size: 20px;
	color: #50585a;
	margin-bottom: 2px;
}
.sidebar-header h6 {
	font-family: "HelveticaNeueLTStd-Md", Arial, sans-serif;
	font-size: 9.5px;
	display: block;
}
.sidebar-header h6 > a {
	font-family: inherit;
	color: #890050;
}
.sidebar-userinfo {
	margin-top: 72px;
	text-align: left;
	padding-left: 16px;
}
.sidebar-userinfo-avatar {
	height: 40px;
	width: 40px;
	border-radius: 50%;
	border: transparent;
	display: inline-block;
	float: left;
	margin-right: 8px;
}
.sidebar-userinfo-avatar.profile {
	float: right;
	height: 80px;
	width: 80px;
}
.sidebar-userinfo-description {
	display: block;
	margin: 0;
	padding: 0;
	font-size: 11px !important;
}
.sidebar-userinfo-username, .sidebar-userinfo-username:visited, .sidebar-userinfo-username:link {
	text-decoration: none;
	display: block;
}
.sidebar-userinfo-username {
	position: relative;
	padding-top: 2px;
}
.sidebar-userinfo-username:after {
	position: absolute;
	content: "";
	width: 6px;
	height: 8px;
	background: url("../img/chevron-right.png");
	top: 40%;
	transform: translate(-50%) rotate(90deg);
	margin-left: 12px;
}
.sidebar-userinfo-description {
	
}
.sidebar-userinfo-username > span {
	color: #890050;
}
.sidebar-userinfo-username:hover {
	text-decoration: none;
	color: orange;
}
.sidebar-userinfo .dropdown-menu {
	left: 60px;
	top: 32px;
}
.footer {
	position: fixed;
	bottom: 0;
	z-index: 99;
	display: block;
	width: 300px;
	text-align: left;
	font-size: 12px;
	font-style: italic;
	padding-left: 16px;
}

/* 
 * SIDEBAR MENU
 ***************/
.sidebar-menu {
	margin-top: 50px;
	background-color: rgba(255, 255, 255, 0.65);;
}
.sidebar-menu ul {
	list-style: none;
	padding: 0;
	margin: 0;
}
.sidebar-menu > ul > li.panel {
	margin: 0;
	border: 0;
	border-bottom: 1px solid #e8e8e8;
	border-radius: 0;
	box-shadow: none;
	background: none;
}
.sidebar-menu > ul > li {
	border-bottom: 1px solid #e8e8e8;
}
.sidebar-menu > ul > li > a {
	position: relative;
	font-family: "HelveticaNeueLTStd-MdCn", Arial, sans-serif;
	text-transform: uppercase;
	font-size: 15px;
}
.sidebar-menu > ul > li > a.has-sub-menu:after {
	position: absolute;
	content: "";
	width: 6px;
	height: 8px;
	right: 24px;
	top: 50%;
	background: url("../img/chevron-right.png");
	transform: translateY(-50%) rotate(90deg);
}
.sidebar-menu > ul > li:last-child {
	border-bottom: 0;
}
.sidebar-menu a {
	text-decoration: none;
	display: block;
	color:  #890050;
	font-size: 14px;
	line-height: 40px;
}
.sidebar-menu a:hover {
	color: white;
	display: block;
	text-decoration: none;
	background: #890050;
}
.sidebar-menu a:hover > img {
	-webkit-filter: invert(100%);
    filter: invert(100%);
}
.sidebar-menu a > img {
	width: 16px;
	height: 16px;
	margin-right: 16px;
	margin-left: 24px;
}
.sidebar-menu ul > li > ul > li > a {
	font-size: 13px;
	line-height: 140%;
	padding: 12px 12px 12px 56px;
}
.sidebar-menu ul > li > ul > li > a img {
	margin-left: 0;
}
.sidebar-menu li.active > a {
	background: #890050;
	color: #ffffff;
}

/* AJAX
 *******/
.ajax-status {
    position: fixed;
    bottom: 16px;
    right: 16px;
    background: rgba(255, 255, 255, 0.75);
    color: #808080;
    border-radius: 4px;
    padding: 4px;
    z-index: 9999;
	text-align: center;
}
.ajax-status img {
    display: block;
    margin: 0 auto;;	
}

/*
 * COMMONS
 **********/
.content-box {
	background-image: linear-gradient(90deg, rgba(255, 255, 255, 0.5) 25%, rgba(255, 255, 255, 0.5) 50%, rgba(255, 255, 255, 0.30) 50%, rgba(255, 255, 255, 0.30) 100%); 
	border: 1px transparent;
	border-radius: 4px;
	margin-bottom: 28px;
	overflow: auto;
}
.content-box-title {
	font-family: "HelveticaNeueLTStd-Cn", Arial, sans-serif;
	font-size: 24px;
	padding: 16px;
	color: #50585a;
}
.content-box-title > p {
	font-size: 12px;
	font-style: italic;
}
.content-box-body {
	padding: 0 16px 24px 16px;
}

/* BUTTONS 
 **********/
.btn {
	text-transform: uppercase;
	font-size: 13px;
	border: none;
}
.btn-primary {
	color: #fff;
	background-color: #890050;
}
#btn-login {
	padding-top: 12px;
	padding-bottom: 12px;
}
.btn-primary:hover,
.btn-primary:focus,
.btn-primary.focus,
.btn-primary:active,
.btn-primary.active,
.open > .dropdown-toggle.btn-primary {
	color: #fff;
	background-color: #750044;
}
.btn-primary:active,
.btn-primary.active,
.open > .dropdown-toggle.btn-primary {
	background-image: none;
}
.btn-primary.disabled,
.btn-primary[disabled],
fieldset[disabled] .btn-primary,
.btn-primary.disabled:hover,
.btn-primary[disabled]:hover,
fieldset[disabled] .btn-primary:hover,
.btn-primary.disabled:focus,
.btn-primary[disabled]:focus,
fieldset[disabled] .btn-primary:focus,
.btn-primary.disabled.focus,
.btn-primary[disabled].focus,
fieldset[disabled] .btn-primary.focus,
.btn-primary.disabled:active,
.btn-primary[disabled]:active,
fieldset[disabled] .btn-primary:active,
.btn-primary.disabled.active,
.btn-primary[disabled].active,
fieldset[disabled] .btn-primary.active {
	background-color: #890050;
	border-color: #ae0064;
}
.btn-primary .badge {
	color: #890050;
	background-color: #fff;
}

/*
 * BOOTSTRAP
 ************/
 
.glyphicon-thumbs-up{
	padding: 10px;
	font-size: 20px;
	color: #9fd188;
}
.glyphicon-thumbs-down{
	padding: 10px;
	font-size: 20px;
	color: #feba4d;
}
.glyphicon-plus{
	padding: 10px;
	color: #02b4ce;
}

.glyphicon-pencil {
	padding: 10px;
	color: #02b4ce;
}

.glyphicon-eye-open{
	padding: 10px;
	color: #9fd188;
}

.glyphicon-remove{
	padding: 10px;
	color: #f37020;
}

.glyphicon-plus:hover{
	color: white;
	background: #02b4ce;
}

.glyphicon-pencil:hover{
	color: white;
	background: #02b4ce;
}

.glyphicon-remove:hover{
	color: white;
	background: #f37020;
}

.glyphicon-eye-open:hover{
	color: white;
	background: #9fd188;
}

/*
 * PRIMEFACES 
 *************/

.ui-tabs.content-box {
	background: transparent;
}
.ui-tabs.content-box > .ui-tabs-nav {
	background: transparent;
}
.ui-tabs.content-box > .ui-tabs-panels > .ui-tabs-panel.ui-widget-content {
	background-image: linear-gradient(90deg, rgba(255, 255, 255, 0.5) 25%, rgba(255, 255, 255, 0.5) 50%, rgba(255, 255, 255, 0.30) 50%, rgba(255, 255, 255, 0.30) 100%); 
}
.ui-tabs.content-box > .ui-tabs-nav > li.ui-state-default {
	background: #e5e5e5;
}
.ui-tabs.content-box > .ui-tabs-nav > li.ui-tabs-selected {
	background: #ffffff;
}
.ui-tabs.content-box > .ui-tabs-nav > li.ui-tabs-selected > a{
  	font-weight: bolder;
  	color: #50585a;
}
.ui-inputswitch {
	border-radius: 16px;
}
.ui-inputswitch-handle {
	background: #ffffff !important;
}
.ui-inputswitch {
	background: #cccccc !important;
	-webkit-box-shadow: inset 0 3px 5px rgba(0,0,0,.125);
 	box-shadow: inset 0 3px 5px rgba(0,0,0,.125);
}
.ui-inputswitch-on, .ui-inputswitch-off {
 	background: none !important;
}
.ui-inputswitch-on > span, 
.ui-inputswitch-off > span {
	color: rgb(137, 0, 80);
	font-family: "HelveticaNeueLTStd", Arial, sans-serif;
	text-shadow: 1px 1px #e8e8e8;
	font-size: 13px;
	top: -2px;
	position: relative;
	font-weight: bolder;
	padding: 0 8px 0 8px !important;
}
.ui-datatable {
	min-width: 800px;
}
.ui-widget-content a.btn {
	color: white;
}

.ui-datatable-kosong{
	min-width: 0px;
}
/*
 * DASHBOARD
 ************/
.dashboard-segment-title {
	margin: 0 0 4px 0;
	font-size: 16px;
	font-weight: bolder;
}
.dashboard-overview {
	width: 100%;
}
.dashboard-overview th {
	color: rgb(137, 0, 80);
	text-align: center;
	padding: 16px 4px;
	border-bottom: 1px solid #000000;
}
.dashboard-overview td {
	border-top: 1px dotted #000000;
	text-align: center;
	padding: 4px;
	min-width: 80px;
}
.dashboard-overview td.unavailable {
	background: rgba(0, 0, 0, 0.05);
	color: #a0a0a0;
}
.dashboard-overview td:first-child {
	text-align: center;
}
.dashboard-overview tbody tr:last-child {
	background: #dcd5cf;
  	border-top: 3px solid rgba(0, 0, 0, .35);
}
.dashboard-overview th, 
.dashboard-overview td {
	border-right: 1px dotted #000000;
}
.dashboard-overview th:first-child, 
.dashboard-overview td:first-child  {	
	border-right: 1px solid #000000;
}
.dashboard-overview th:last-child,
.dashboard-overview td:last-child  {
	border-right: none;
  	background: #dcd5cf;
	border-left: 3px solid rgba(0, 0, 0, .25);
}
.dashboard-label {
	font-size: 16px;
}
.dashboard-value-percentage {
	font-size: 16px;
	font-family: "HelveticaNeueLTStd-Cn", Arial, sans-serif;
	margin-bottom: 4px;
	color: #ffffff;
}
.dashboard-value-percentage.texthigh {
	background: rgb(151, 198, 129);
}
.dashboard-value-percentage.textmedium {
	background: rgb(254, 186, 77);
}
.dashboard-value-percentage.textlow {
	background: rgb(243, 112, 32);
}
.dashboard-value-percentage.textcritical {
	background: #f33e20;
}
.dashboard-value-percentage.textnone {
	background: #a0a0a0;
}
.dashboard-value-description {
	font-size: 12px;
	text-align: left;
	position: relative;
}
.dashboard-value-description > label {
	display: inline-block;
}
.dashboard-value-description > label.rulycon-trophy {
	color: #feba4d;
}
.dashboard-value-description > label.rulycon-target {
	color: #f33e20;
}
.dashboard-value-description > span {
	color: rgba(137, 0, 80, 0.85098);
	background: rgba(255, 255, 255, 0.3);
	padding: 0 2px 0 2px;
	border: 1px solid silver;
	border-radius: 3px;
	right: 0;
	position: absolute;
}

.dashboard-branch-value > span{
	color: rgba(137, 0, 80, 0.85098);
	background: rgba(255, 255, 255, 0.3);
	font-size: 22px;
	font-family: "HelveticaNeueLTStd-MdCn", Arial, sans-serif !important;
	padding: 0 2px 0 2px;
	right: 0;
}

.dashboard-branch-value > label{
	display: block;
}

.dashboard-value-total,
.dashboard-value-total > span {
	color: rgb(137,0,80);
	font-size: 25px;
	font-family: "HelveticaNeueLTStd-Cn", Arial, sans-serif;
}
.dashboard-title-wrapper {
	text-align: center;
}
.dashboard-title {
	display: inline-block;
	font-family: "HelveticaNeueLTStd", Arial, sans-serif;
	font-size: 28px;
	color: #50585a;
	font-weight: 700;
}
.dashboard-date {
	color: #890050;
	font-size: 11px;
	text-align: left;
	display: block;
}
.dashboard-description {
	display: inline-block;
	font-size: 11px;
	text-align: left;
	display: block;
}
.dashboard-control-date {
	
}
.dashboard-control-date label {
	color: rgb(137, 0, 80);
	margin-right: 8px;
}

.dashboard-control-date > div {
	display: block;
}

.dashboard-control-mtdytd > span, 
.dashboard-control-date > div > span{
	color: rgb(137, 0, 80);
	font-family: "HelveticaNeueLTStd", Arial, sans-serif;
	font-weight: bolder;
	top: -4px;
	position: relative;
	padding: 0 8px 0 0px;
	display: inline-block;
}
.dashboard-control-mtdytd  .ui-inputswitch-on > span, 
.dashboard-control-mtdytd  .ui-inputswitch-off > span {
	color: #cccccc;
	text-shadow: none;
}
.product-funding, .product-lending {
	padding: 2px 12px;
	border-radius: 50em;
	text-align: center;
}
.product-funding{
	background-color: #9fd188;
}
.product-lending{
	background-color: #dcd5cf;
}

/*
 * MY PERFORMANCE
 *****************/
 
.performance-table {
	min-width: 800px;
}
.performance-table td.texthigh > *,
.performance-table td.textmedium > *,
.performance-table td.textlow > *,
.performance-table td.textcritical > *,
.performance-table td.textnone > * {
	text-align: center;
	color: white;
	border-radius: 8px;
}
.performance-table td.texthigh > * {
	background: rgb(151, 198, 129);
}
.performance-table td.textmedium > * {
	background: rgb(254, 186, 77);
}
.performance-table td.textlow > * {
	background: rgb(243, 112, 32);
}
.performance-table td.textcritical > * {
	background: #f33e20;
}
.performance-table td.textnone > * {
	background: #a0a0a0;
}
.performance-table-lesstop tr:first-child th:first-child,
.performance-table-lesstop tr td:first-child {
	border-top: none;
}
.performance-table.subordinate th:last-child{
	background: #dcd5cf;
	border-left: 3px solid rgba(0, 0, 0, .35);
	border-bottom: 3px solid rgba(0, 0, 0, .35);
}
.performance-table.subordinate .ui-datatable-even td:last-child,
.performance-table.subordinate .ui-datatable-odd td:last-child {
	background: #dcd5cf;
	border-left: 3px solid rgba(0, 0, 0, .25);
	border-bottom: 3px solid rgba(0, 0, 0, .05);
}
.performance-summary-wrapper {
	background: rgba(255, 255, 255, 0.75);
  	box-shadow: 0 1px 2px rgba(0, 0, 0, .15);
	border-radius: 5px;
	padding: 8px;
}
.performance-summary {
	width: 29%; 
	display: inline-block;
	margin: 0 0 0 0;
	padding: 0 10px 0 0;
	text-align: right;
}
.performance-summary .performance-summary-item {
	margin: 0 0 8px 0;
	padding: 8px;
  	position: relative;
}
.performance-summary .performance-progress {
	display: block;
	margin-bottom: 8px;
	font-weight: bolder;
}
.performance-summary .performance-progress .performance-value {
	text-align: center;
	display: inline;
	margin-left: 8px;
	font-size: 28px;
}
.performance-summary .performance-summary-item > label {
	font-family: "HelveticaNeueLTStd-Cn", Arial, sans-serif;
	color:  #50585a;
	font-size: 18px;
	text-align: right;
	display: block;
	margin: 0;
}
.performance-summary .performance-value {
	font-family: "HelveticaNeueLTStd-Cn", Arial, sans-serif;
	font-size: 28px;
	margin: 0;
	text-align: right;
}
.performance-summary .performance-value-small {
	font-family: "HelveticaNeueLTStd-Cn", Arial, sans-serif;
	font-size: 16px;
	margin: 0;
	text-align: right;
}
.performance-summary .texthigh {
	color: rgb(151, 198, 129);
}
.performance-summary .textmedium {
	color: rgb(254, 186, 77);
}
.performance-summary .textlow {
	color: rgb(243, 112, 32);
}
.performance-summary .textcritical {
	color: #f33e20;
}
.performance-component {
	width: 69%; 
	display: inline-block;
	padding: 8px 8px 8px 8px;
	margin: 0;
	vertical-align: top;
}
.performance-component hr {
	margin: 4px 0 2px 0;
	border-color: silver;
}
.performance-component-item {
	display: inline-block;
	margin: 0 4px 4px 0;
	padding: 4px;
	border: 1px solid silver;
	border-radius: 4px;
}
.performance-component .performance-value {
	font-family: "HelveticaNeueLTStd-Cn", Arial, sans-serif;
	font-size: 24px;
	margin: 0;
	padding: 0 4px 0 4px;
	text-align: right;
	display: block;
}
.performance-component .performance-value-small {
	font-family: "HelveticaNeueLTStd-Cn", Arial, sans-serif;
	font-size: 16px;
	margin: 0;
	padding: 0 4px 0 4px;
	text-align: right;
	display: block;
}
.performance-component .performance-component-title {
	font-family: "HelveticaNeueLTStd-Cn", Arial, sans-serif;
	color:  #50585a;
	font-size: 18px;
	text-align: center;
	margin: 0;
	display: block;
	background: #e5e5e5;
	padding: 4px 4px 4px 4px;
	font-weight: normal;
}
.performance-component .performance-component-title > * {
	display: block;
	font-size: 14px;
}
.performance-component .performance-component-title.texthigh {
	background: rgb(151, 198, 129);
	color: white;
}
.performance-component .performance-component-title.textmedium {
	background: rgb(254, 186, 77);
	color: white;
}
.performance-component .performance-component-title.textlow {
	background: rgb(243, 112, 32);
	color: white;
}
.performance-component .performance-component-title.textcritical {
	background: #f33e20;
	color: white;
}
.performance-component .performance-component-title.textnone {
	background: #a0a0a0;
	color: white;
}
.performance-component .fee-detail {
	padding: 0;
	margin: 8px 0 0 0;
}
.performance-component .fee-detail .fee-detail-item {
	padding: 4px;
	float: left;
	margin: 0 4px 4px 0px;
	border: 1px solid silver;
	border-radius: 4px;
	
}
.performance-component .fee-detail .fee-detail-item .performance-component-title {
	font-size: 14px;
	display: block;
	margin: 0;
	padding: 2px 4px 2px 4px;
	text-align: center;
	display: block;
}
.performance-component .fee-detail .fee-detail-item .performance-component-title > * {
	font-size: 10px;
}
.performance-component .fee-detail .fee-detail-item .performance-value {
	font-size: 14px;
	margin: 0;
	padding: 0 4px 0 4px;
}
.performance-component .fee-detail .fee-detail-item .performance-value-small {
	font-size: 12px;
	margin: 0;
	padding: 0 4px 0 4px;
}


/*
 * PERFORMANCE PRODUCT
 *****************/
.form-inline-margin{
	margin-right: 5px;
}
 
.span-until{
	color: #50585a;
	font-family: "HelveticaNeueLTStd", Arial, sans-serif;
	font-weight: bold;
} 


/*
 * GAUGE
 *******/
 
.gauge-meter, .gauge-meter-large {
	background: url('../img/gauge-meter.png') no-repeat;
	display: inline-block;
	width: 36px;
	height: 19px;
	position: relative;
}
.gauge-meter-large {
	background-image: url('../img/gauge-meter-large.png');
	width: 72px;
	height: 38px;
}
.gauge-meter .gauge-pointer, .gauge-meter-large .gauge-pointer-large {
	background: url('../img/gauge-pointer-alt.png') no-repeat;	
	width: 26px;
	height: 8px;
	top: 16px;
	left: -4px;
	position: absolute;
	transform-origin: 22px 4px;
}
.gauge-meter-large .gauge-pointer-large {
	background-image: url('../img/gauge-pointer-large-alt.png');
	width: 52px;
	height: 16px;
	top: 36px;
	left: -8px;
	transform-origin: 46px 6px;
}
.col-performance-calculator{
	width: 19%; 
	position: relative; 
	padding-right: 5px; 
	padding-left: 5px; 
	min-height: 1px;
}

/**
* Calculator
*/

.performance-table-big {
	border: 0;
	width: 100%;
	font-size: 12px;
}

.performance-table-big thead {
	border-bottom: 1px solid #000000;
}
.performance-table-big th {
	text-align: center;
	padding: 4px;
	color: rgb(137, 0, 80);
}
.performance-table-big th, .performance-table-big td {
	border-right: 1px dotted rgba(80, 88, 90, .65);
}
.performance-table-big td {
	border-top: 1px dotted rgba(80, 88, 90, .65);
	padding: 8px;
	text-align: center;
}
.performance-table-big tr > th:last-child,
.performance-table-big tr > td:last-child {
	border-right: 0;
	width: 100px;
}
.performance-table-big tr:first-child th:first-child,
.performance-table-big tr td:first-child {
	border-right: 1px solid #000000;
}
.performance-table-big-lesstop tr:first-child th:first-child,
.performance-table-big-lesstop tr td:first-child {
	border-top: none;
}
.performance-table-big td:first-child {
	text-align: left;
	font-weight: bolder;
	white-space: nowrap;
}
.performance-table-big tbody tr:hover .no-hover {
	background: transparent;
}
.performance-table-big td {
	border-right: 1px dotted rgba(80, 88, 90, .65);
}

.cmos-text-low {
	color: #F33E20;
}

.panel-nii-lending{
	background-color: #92489d !important;
}
.font-table-color{
	color: white !important;
}

.label-date-product{
	display: block; 
	color: rgb(137, 0, 80); 
	font-size: 14px;
}




/**
* CMOS Report
*/

.span-date-cmos{
	font-size: 14px;
}

.div-number-items{
	margin-top: 10px; 
	width: 13%; 
	display: inline-block;
}

.div-number-items-total{
	display: block; 
	font-size: 24px;
	font-family: "HelveticaNeueLTStd", Arial, sans-serif;
	color: #890050;
	text-align: center;
}

.div-number-items-classname{
	display: block;
	color: #50585a;
	font-size: 13px;
	font-family: "HelveticaNeueLTStd", Arial, sans-serif;
	text-align: center;
}

.div-number-items-line{
	height: 42px;
	width: 1px; 
	display: inline-block;
	background: linear-gradient(0deg, rgba(80, 88, 90, 0) 0%, rgba(80, 88, 90, 50) 49%, rgba(80, 88, 90, 50) 50%, rgba(80, 88, 90, 0) 100%);
}

.donut-chart-cmos{
	width:400px; height:300px; margin:auto;
}

.btn-primary.btn-download-cmos{
	margin:10px; 
	float: right;
	color: #fff !important;
	background-color: #890050 !important;
}

.ui-tabs.donut-cmos{
	background-color: transparent;
}

.ui-tabs.donut-cmos.ui-tabs-top > .ui-tabs-nav{
	/*
	background-color: transparent;
	border: none !important;
	*/
	border-style: solid;
	border-width: 1px;
	border-color:  #cccccc;
	box-sizing: border-box;
	background-color:  rgba(255, 255, 255, 0.65);
	box-shadow: 0px 1px 0px 0px #ffffff;
}

.ui-tabs.donut-cmos.ui-tabs-top > .ui-tabs-nav > .ui-state-default{
	background: transparent;
	border: none !important;
}

.ui-tabs.donut-cmos.ui-tabs-top > .ui-tabs-nav li{
	top: 0px !important;
	margin: 0px;
}

.ui-tabs.donut-cmos.ui-tabs-top > .ui-tabs-nav > .ui-state-default > a{
	font-family: "HelveticaNeueLTStd", Arial, sans-serif;
    color: #890050;
    font-size: 12px;
    text-align: center;
    padding: 8px 24px;
    
}

.ui-tabs.donut-cmos.ui-tabs-top > .ui-tabs-nav > .ui-state-active{
	background-color:  #890050;
	border: none !important;
	border-radius: 0;
}

.ui-tabs.donut-cmos.ui-tabs-top > .ui-tabs-nav > .ui-state-active > a{
	font-family: "HelveticaNeueLTStd", Arial, sans-serif;
    color: #ffffff;
    font-size: 12px;
    text-align: center;
    padding: 8px 24px;
}

.ui-tabs.donut-cmos.ui-tabs-top > .ui-tabs-nav > .ui-state-active > a:before{
	position: absolute;
	width: 16px;
	height: 10px;
	content: "";
	border-top: 8px solid #890050;
	border-left: 8px solid transparent;
	border-right: 8px solid transparent;
	bottom: -10px;
	left: 40%;
}

.ui-tabs.donut-cmos.ui-tabs-top > .ui-tabs-nav > .ui-state-hover{
	background-color:  #890050;
	border: none !important;
	border-radius: 0;
}

.ui-tabs.donut-cmos.ui-tabs-top > .ui-tabs-nav > .ui-state-hover > a{
	font-family: "HelveticaNeueLTStd", Arial, sans-serif;
    color: #ffffff;
    font-size: 12px;
    text-align: center;
    padding: 8px 24px;
}


.form-horizontal.cmos .form-control{
	background-color: transparent;
	border: none;
	border-radius: none;
	box-shadow: none;
    padding: 0px 12px;
    height: 25px;
    
    font-family: "HelveticaNeueLTStd", Arial, sans-serif;
	font-size: 12px;
	font-weight: normal;
}

.form-horizontal.cmos .form-control.textarea{
	white-space: normal;
    height: auto;
    max-height: 100px;
    min-height: 25px;
    overflow: auto;
}

.form-horizontal.cmos .form-group{
	margin-bottom: 0px;
}

.form-horizontal.cmos .control-label{
	padding-top: 0px;
	
	font-family: "HelveticaNeueLTStd", Arial, sans-serif;
	font-size: 12px;
	font-weight: bold;
}

/* Pie Chart */
.jqplot-donut-series.jqplot-data-label{
	color: white;
    text-shadow: 0 1px 0 RGBA(0,0,0,.75);
    font-size: 14px;
    font-weight: bold;
}

