/*
 * FONTS
 ********/
 @font-face {
	font-weight: normal;
	font-style: normal;
}
@font-face {
	font-family: 'cordale_corpregular';
	src: url('../fonts/cordale_corp_regular-webfont.eot');
	src: url('../fonts/cordale_corp_regular-webfont.eot?#iefix') format('embedded-opentype'), url('../fonts/cordale_corp_regular-webfont.woff') format('woff'), url('../fonts/cordale_corp_regular-webfont.ttf') format('truetype'), url('../fonts/cordale_corp_regular-webfont.svg#cordale_corpregular') format('svg');
}
@font-face {
	font-family: 'HelveticaNeueLTStd-Cn';
	src: url('../fonts/HelveticaNeueLTStd-Cn.eot?#iefix') format('embedded-opentype'),  url('../fonts/HelveticaNeueLTStd-Cn.otf')  format('opentype'), url('../fonts/HelveticaNeueLTStd-Cn.woff') format('woff'), url('../fonts/HelveticaNeueLTStd-Cn.ttf')  format('truetype'), url('../fonts/HelveticaNeueLTStd-Cn.svg#HelveticaNeueLTStd-Cn') format('svg');
}
@font-face {
	font-family: 'HelveticaNeueLTStd-Lt';
	src: url('../fonts/HelveticaNeueLTStd-Lt.eot?#iefix') format('embedded-opentype'),  url('../fonts/HelveticaNeueLTStd-Lt.otf')  format('opentype'), url('../fonts/HelveticaNeueLTStd-Lt.woff') format('woff'), url('../fonts/HelveticaNeueLTStd-Lt.ttf')  format('truetype'), url('../fonts/HelveticaNeueLTStd-Lt.svg#HelveticaNeueLTStd-Lt') format('svg');
}
@font-face {
	font-family: 'HelveticaNeueLTStd-Md';
	src: url('../fonts/HelveticaNeueLTStd-Md.eot?#iefix') format('embedded-opentype'),  url('../fonts/HelveticaNeueLTStd-Md.otf')  format('opentype'), url('../fonts/HelveticaNeueLTStd-Md.woff') format('woff'), url('../fonts/HelveticaNeueLTStd-Md.ttf')  format('truetype'), url('../fonts/HelveticaNeueLTStd-Md.svg#HelveticaNeueLTStd-Md') format('svg');
}
@font-face {
	font-family: 'HelveticaNeueLTStd-MdCn';
	src: url('../fonts/HelveticaNeueLTStd-MdCn.eot?#iefix') format('embedded-opentype'),  url('../fonts/HelveticaNeueLTStd-MdCn.otf')  format('opentype'), url('../fonts/HelveticaNeueLTStd-MdCn.woff') format('woff'), url('../fonts/HelveticaNeueLTStd-MdCn.ttf')  format('truetype'), url('../fonts/HelveticaNeueLTStd-MdCn.svg#HelveticaNeueLTStd-MdCn') format('svg');
}
@font-face {
	font-family: 'HelveticaNeueLTStd-Roman';
	src: url('../fonts/HelveticaNeueLTStd-Roman.eot?#iefix') format('embedded-opentype'),  url('../fonts/HelveticaNeueLTStd-Roman.otf')  format('opentype'), url('../fonts/HelveticaNeueLTStd-Roman.woff') format('woff'), url('../fonts/HelveticaNeueLTStd-Roman.ttf')  format('truetype'), url('../fonts/HelveticaNeueLTStd-Roman.svg#HelveticaNeueLTStd-Roman') format('svg');
}
@font-face {
	font-family: 'HelveticaNeueLTStd-LtCn';
	src: url('HelveticaNeueLTStd-LtCn.eot?#iefix') format('embedded-opentype'),  url('HelveticaNeueLTStd-LtCn.otf')  format('opentype'),
		url('HelveticaNeueLTStd-LtCn.woff') format('woff'), url('HelveticaNeueLTStd-LtCn.ttf')  format('truetype'), url('HelveticaNeueLTStd-LtCn.svg#HelveticaNeueLTStd-LtCn') format('svg');
	font-weight: normal;
	font-style: normal;
}
@font-face {
	font-family: 'HelveticaNeueLTStd-ThCn';
	src: url('HelveticaNeueLTStd-ThCn.eot?#iefix') format('embedded-opentype'),  url('HelveticaNeueLTStd-ThCn.otf')  format('opentype'),
		url('HelveticaNeueLTStd-ThCn.woff') format('woff'), url('HelveticaNeueLTStd-ThCn.ttf')  format('truetype'), url('HelveticaNeueLTStd-ThCn.svg#HelveticaNeueLTStd-ThCn') format('svg');
	font-weight: normal;
	font-style: normal;
}
