<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<ui:composition xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
	xmlns:h="http://xmlns.jcp.org/jsf/html"
	xmlns:f="http://xmlns.jcp.org/jsf/core"
	xmlns:p="http://primefaces.org/ui"
	template="/WEB-INF/templates/layout-main.xhtml">
	<ui:define name="postMetadata">
        <f:metadata>
            <f:viewAction action="#{userProfileBacking.init()}" />
        </f:metadata>
    </ui:define>
	<ui:define name="title">My Profile</ui:define>
	<ui:define name="header">
		<h3>My Profile</h3>
	</ui:define>
	<ui:define name="content">
		<div class="row">
			<div class="col-md-12 col-lg-12">
				<div class="content-box">
					<div class="content-box-title">My Profile</div>
					<div class="content-box-body">
						<h:form id="updateUserForm">							
							<div class="form-horizontal">
								<div class="form-group row">
									<label class="control-label col-md-3 col-lg-3">Fullname</label>
									<div class="col-md-6 col-lg-6">
										<h:inputText class="form-control" disabled="false" value="#{userProfileBacking.fullName}"/>
									</div>
								</div>
							</div>
							<div class="form-horizontal">
								<div class="form-group row">
									<label class="control-label col-md-3 col-lg-3">Email</label>
									<div class="col-md-6 col-lg-6">
										<h:inputText class="form-control" disabled="false" value="#{userProfileBacking.email}"/>
									</div>
								</div>
							</div>
							<div class="form-horizontal">
								<div class="form-group row">
									<label class="control-label col-md-3 col-lg-3">Username</label>
									<div class="col-md-6 col-lg-6">
										<h:inputText class="form-control" disabled="true" value="#{userProfileBacking.username}" />
									</div>
								</div>
							</div>
							<div class="form-horizontal">
								<div class="form-group row">
									<label class="control-label col-md-3 col-lg-3">Role</label>
									<div class="col-md-6 col-lg-6">
                                                                            <ui:repeat value="#{userProfileBacking.currentUser.role}" var="role">
											<span>#{role.name}</span>
										</ui:repeat>	
										
									
									</div>
								</div>
							</div>
							<div class="form-horizontal">
								<div class="form-group row">
									<label class="control-label col-md-3 col-lg-3"></label>
									<div class="col-md-6 col-lg-6">
										<p:commandButton value="Update" action="#{userProfileBacking.updateProfile()}" styleClass="ui-primary" update=":globalMessages"/>
									</div>
								</div>
							</div>

						</h:form>
					</div>
				</div>
			</div>
		</div>
	</ui:define>
</ui:composition>