<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://xmlns.jcp.org/jsf/html"
	xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
	xmlns:f="http://xmlns.jcp.org/jsf/core"
	xmlns:p="http://primefaces.org/ui"
	xmlns:pe="http://primefaces.org/ui/extensions">
<h:head>
	<title>Consolidated Statement- <ui:insert name="title">Welcome</ui:insert></title>
	<link rel="stylesheet" href="#{request.contextPath}/resources/css/bootstrap.min.css" />
	<link rel="stylesheet" href="#{request.contextPath}/resources/css/qpm-font.css" />
	<link rel="stylesheet" href="#{request.contextPath}/resources/css/qpm-main.css" />
	<link rel="shortcut icon" href="#{request.contextPath}/resources/img/favicon.png" type="image/x-icon" />
	<ui:insert name="head"></ui:insert>
</h:head>

<h:body>
	<pe:ajaxErrorHandler />
	<ui:insert name="ajaxStatus">
		<p:ajaxStatus>
			<f:facet name="start">
				<div class="ajax-status">
					<img src="#{request.contextPath}/resources/img/loading.gif" />
					<h:outputText value="Loading, please wait..." />
				</div>
			</f:facet>
			<f:facet name="complete">
				<h:outputText />
			</f:facet>
		</p:ajaxStatus>
	</ui:insert>
	<ui:insert name="content"></ui:insert>
	<ui:insert name="postContent"></ui:insert>
	<script src="#{request.contextPath}/resources/js/bootstrap.min.js" type="text/javascript"></script>
</h:body>

</html>
