<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://xmlns.jcp.org/jsf/html"
	xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
	xmlns:f="http://xmlns.jcp.org/jsf/core"
	xmlns:p="http://primefaces.org/ui"
	xmlns:pe="http://primefaces.org/ui/extensions"
	xmlns:c="http://xmlns.jcp.org/jsp/jstl/core">
<h:head>
	<title>Consolidated Statement - <ui:insert name="title">Welcome</ui:insert></title>        
	<link rel="stylesheet" href="#{request.contextPath}/resources/css/bootstrap.min.css" />
	<link rel="stylesheet" href="#{request.contextPath}/resources/css/rulycon.css" />
	<link rel="stylesheet" href="#{request.contextPath}/resources/css/qpm-font.css" />
	<link rel="stylesheet" href="#{request.contextPath}/resources/css/qpm-main.css" />
	<link rel="shortcut icon" href="#{request.contextPath}/resources/img/favicon.png" type="image/x-icon" />       
        
</h:head>

<h:body>
	<pe:ajaxErrorHandler />
	<p:ajaxStatus>
		<f:facet name="start">
			<div class="ajax-status">
				<img src="#{request.contextPath}/resources/img/loading.gif" />
				<h:outputText value="Loading, please wait..." />
			</div>
		</f:facet>
		<f:facet name="complete">
			<h:outputText />
		</f:facet>
	</p:ajaxStatus>
	<p:growl id="globalMessages" widgetVar="globalMessages"
		globalOnly="true" showDetail="true" showSummary="true" />
	<div class="banner">
		<div class="pull-right">
			<h:form>
				<p:commandLink action="#{loginBacking.logout()}" ajax="false">
					<span class="glyphicon glyphicon-log-out"></span> Logout</p:commandLink>
			</h:form>
		</div>
	</div>
	<div class="sidebar">
		<div class="sidebar-inner-header">
			<h:link outcome="/index.xhtml"><img src="#{request.contextPath}/resources/img/sidebar-logo-qnb.png" /></h:link>
		</div>
		<div class="sidebar-header">
			<h:link role="menuitem" outcome="/index.xhtml"><img src="#{request.contextPath}/resources/img/sidebar-logo-qpers.png" /></h:link>
			<h1>Consolidated Statement</h1>
			<h6>
				by <a href="http://www.qnb.co.id">Bank QNB Indonesia</a>
			</h6>
		</div>
		<div class="sidebar-userinfo dropdown">
			<h:form>
                            <p:graphicImage value="/resources/img/sample-avatar.png" styleClass="sidebar-userinfo-avatar" />
				<a href="javascript:void(0)" data-toggle="dropdown" aria-expanded="true" 
					id="profileMenu" class="sidebar-userinfo-username ">
					<span class="dropdown-toggle">
						<h:outputText value="#{userSession.userInfo.fullName}" />&nbsp;
						<h:outputText rendered="#{userSession.userInfo.accountOfficerId ne null}" value="(#{userSession.userInfo.accountOfficerId})" />
					</span> 
				</a>
				<p:outputPanel rendered="#{userSession.userInfo.accountOfficerId ne null}" 
					styleClass="sidebar-userinfo-description">
					<h:outputText value="#{userSession.userInfo.accountOfficerPosition}" />
				</p:outputPanel>
				<p:outputPanel rendered="#{userSession.userInfo.accountOfficerId eq null}" 
					styleClass="sidebar-userinfo-description">
					-
				</p:outputPanel>
				<ul class="dropdown-menu" role="menu" aria-labelledby="profileMenu">
					<li role="presentation">
						<h:link role="menuitem" outcome="/profile/user-profile.xhtml">My Profile</h:link>
					</li>
					<li role="presentation">
						<h:link role="menuitem" outcome="/profile/change-password.xhtml">Change Password</h:link>
					</li>
					<li role="presentation" class="divider"></li>
					<li role="presentation"><h:commandLink action="#{loginBacking.logout()}" role="menuitem">
							Logout
						</h:commandLink>
					</li>
				</ul>
			</h:form>
		</div>
		<div class="sidebar-menu">
			<ul id="sidebarMenuAccordion">				
				<c:if test="#{userSession.isUserHasAbility('USER MANAGEMENT')}">
					<li class="panel">
						<a href="#userManagementSubMenu"
							data-toggle="collapse" data-parent="#sidebarMenuAccordion"
							aria-controls="userManagementSubMenu" class="has-sub-menu"> 
							<img src="#{request.contextPath}/resources/img/sidebar-icon-user-management.png" />
							User Management
						</a>
						<ul id="userManagementSubMenu"
							class="collapse #{templateBacking.isActiveView('/user') ? 'in' : ''}">
							<li class="#{templateBacking.isActiveView('/user/add-user') ? 'active' : ''}">
								<h:link outcome="/user/add-user.xhtml">Add User</h:link>
							</li>
							<li class="#{templateBacking.isActiveView('/user/user-list') ? 'active' : ''}">
								<h:link outcome="/user/user-list.xhtml">Show User</h:link>
							</li>
                                                        <li class="#{templateBacking.isActiveView('/user/create-role') ? 'active' : ''}">
								<h:link outcome="/user/create-role.xhtml">Create Role</h:link>
							</li>							
							<li class="#{templateBacking.isActiveView('/user/show-role') ? 'active' : ''}">
								<h:link outcome="/user/show-role.xhtml">Show Role</h:link>
							</li>							
						</ul>
					</li>
				</c:if>	
                                <c:if test="#{userSession.isUserHasAbility('INPUT')}">
					<li class="panel">
						<a href="#fetchDataSubMenu"
							data-toggle="collapse" data-parent="#sidebarMenuAccordion"
							aria-controls="fetchDataSubMenu" class="has-sub-menu"> 
							<img src="#{request.contextPath}/resources/img/sidebar-icon-user-management.png" />
							Fetch Data
						</a>
						<ul id="fetchDataSubMenu"
							class="collapse #{templateBacking.isActiveView('/employee') ? 'in' : ''}">
							<li class="#{templateBacking.isActiveView('/employee/input-position') ? 'active' : ''}">
								<h:link outcome="/employee/input-position">Fetch Data</h:link>
							</li>								
						</ul>
					</li>
				</c:if>	
                                <c:if test="#{userSession.isUserHasAbility('SYSTEM')}">
					<li class="panel">
						<a href="#SystemSubMenu"
							data-toggle="collapse" data-parent="#sidebarMenuAccordion"
							aria-controls="fetchDataSubMenu" class="has-sub-menu"> 
							<img src="#{request.contextPath}/resources/img/sidebar-icon-system-configuration.png" />
							System
						</a>
						<ul id="SystemSubMenu"
							class="collapse #{templateBacking.isActiveView('/system') ? 'in' : ''}">
							<li class="#{templateBacking.isActiveView('/system/history-report') ? 'active' : ''}">
								<h:link outcome="/system/history-report.xhtml">History Report</h:link>
							</li>	
                                                        <li class="#{templateBacking.isActiveView('/system/event-log') ? 'active' : ''}">
								<h:link outcome="/system/event-log.xhtml">Event Log</h:link>
							</li>	
						</ul>
					</li>
				</c:if>		
                                <c:if test="#{userSession.isUserHasAbility('CUSTOMER_SERVICE')}">
					<li class="panel">
						<a href="#CustomerServiceSubMenu"
							data-toggle="collapse" data-parent="#sidebarMenuAccordion"
							aria-controls="fetchDataSubMenu" class="has-sub-menu"> 
							<img src="#{request.contextPath}/resources/img/sidebar-icon-historical-performance.png" />
							Customer Service
						</a>
						<ul id="CustomerServiceSubMenu"
							class="collapse #{templateBacking.isActiveView('/cs') ? 'in' : ''}">
							<li class="#{templateBacking.isActiveView('/cs/show-customer') ? 'active' : ''}">
								<h:link outcome="/cs/show-customer.xhtml">Show Customer</h:link>
							</li>	
						</ul>
					</li>
				</c:if>		
			</ul>
		</div>
		<div class="footer">
			<p>
				v<h:outputText value="#{webConfig.productVersion}" /> Build <h:outputText value="#{webConfig.buildTimestamp}" />
			</p>
		</div>
	</div>
	<div class="main">
		<div class="content-header">
			<ui:insert name="header"></ui:insert>
		</div>
		<div class="content container-fluid">
			<ui:insert name="content"></ui:insert>
		</div>
	</div>
	<ui:insert name="postContent"></ui:insert>
	<script src="#{request.contextPath}/resources/js/bootstrap.min.js"
		type="text/javascript"></script>
	<ui:insert name="postScript"></ui:insert>
</h:body>

</html>
